
    <div class="modal fade text-left" id="artworkNew" tabindex="-1" aria-labelledby="artworkNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="artworkNewLabel">Add New Artwork</h5>
                    <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" action="/artworks/<%= current %>" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input id="title" class="form-control" type="text" name="artwork[title]">
                        </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input id="image" class="form-control-file" type="file" name="artwork[image]" accept="image/*" required>
                            <small class="form-text text-muted">Image file cannot exceed 10 MB</small>
                        </div>
                        <div class="form-group">
                                <label for="desc">Description</label>
                                <textarea id="desc" class="form-control" name="artwork[desc]"></textarea>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-info btn-block" type="submit">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
