<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-3" style="margin:25px auto;">
                <h1 class="text-center">Add New Artwork</h1>
                <form class="form" action="/artworks" method="POST">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input id="title" class="form-control" type="text" name="artwork[title]">
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input id="image" class="form-control" type="text" name="artwork[image]">
                    </div>
                    <div class="form-group">
                            <label for="desc">Description:</label>
                            <textarea id="desc" class="form-control" name="artwork[desc]"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit">
                    </div>
                </form>
                <a href="/artworks">Back to Gallery</a>
            </div>
        </div>
        
    </div>

<% include ../partials/footer %>