
    
    </section>

    <footer class="bg-dark text-light text-center mt-5 p-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#contactModal">Contact Us!</button>
                    <p>Copyright &copy; 2019 O-Art</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Contact Modal -->
    <% include ../contact %>

    <!-- scripts -->
    <script defer src="/js/all.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>