
    
    </section>

    <footer class="bg-dark text-light border-top border-info text-center mt-5 p-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info border-white my-1" data-toggle="modal" data-target="#contactModal">
                        <i class="fas fa-envelope"></i> Contact Us!
                    </button>
                    <div class="lead">O-Art</div>
                    <small class="text-muted">Copyright &copy; 2019</small>
                </div>
            </div>
        </div>
    </footer>

    <!-- Contact Modal -->
    <% include ../contact %>

    <!-- scripts -->
    <script defer src="/js/all.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>