
    
    </section>

    <footer class="text-center">&copy; O-Art 2019</footer>

    <!-- scripts -->
    <script defer src="/js/all.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>