<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>O-Art</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav  class="navbar navbar-expand-md sticky-top navbar-dark bg-info mb-2">
        <div class="container">
            <a href="/" class="navbar-brand">
                <i class="fas fa-pencil-alt"></i> O-Art
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">
                                <i class="fas fa-user-plus"></i> Sign up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
                                <i class="fas fa-sign-in-alt"></i> Log in
                            </a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <span class="navbar-text">
                                Signed in as <i class="fas fa-user-alt"></i> <%= currentUser.username %>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MODALS -->
    <!-- Signup Modal -->
    <% include ../signup %>
    <!-- Login Modal -->
    <% include ../login %>

    <section class="container">
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-dismissible fade in show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success alert-dismissible fade in show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        