
<div id="commentNew" class="collapse card-body">
    <form class="form" action="/artworks/<%= current %>/<%= artwork._id %>/comments" method="POST">
        <div class="form-group">
            <label for="author">Name</label>
            <input id="author" class="form-control" name="comment[author]" placeholder="Your name" required>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <textarea id="text" class="form-control" name="comment[text]" placeholder="Enter your comment here"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-info btn-block" type="submit">
        </div>
    </form>
</div>
