<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width: device-width, initial-scale=1, shrink-to-fit=no">
    <title>O-Art</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid text-center">
        <h1>O-ART</h1>
        <p>for great works of art!</p>
        <a class="btn btn-lg btn-info" href="/artworks">View Gallery</a>
    </div>

    <footer class="text-center">&copy; O-Art 2019</footer>

    <!-- scripts -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>